[Unit]
Description=Server based on the frameworkd 

[Service]
Type=simple
ExecStart=/usr/local/bin/serverd 0.0.0.0 8080
ExecReload=/bin/kill -HUP $MAINPID
WorkingDirectory=/usr/share/serverd
SyslogIdentifier=serverd

[Install]
WantedBy=multi-user.target
